*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}

body{
    background-color: #141922;
}

.text-white{
    color: white;
}

.text-gray{
    color: #77797D;
}

h1{
    font-size: x-large;
    color: white;
    padding: 2rem 0;
}

h2{
    font-size: large;
    color: white;
    padding: 0.5rem 0;
    font-weight: bold;
}

p{
    color: #77797D;
    padding-bottom: 1.5rem;
}

.card{
    text-align: center;
}